*{
    margin: 0px;
    padding: 5px 10px;
}

body{
    background: linear-gradient(rgb(209, 211, 211));
}
.container{
        border: 2px solid black;
        font-family: cursive;
        border-radius: 60px;
        background-color: lightblue;
        color: white;
        text-align: center;
        width: 600px;
        position: relative;
        left: 350px;
        margin-bottom: 4px;
}

.input{
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
}


.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
    
 } 

.buttons{
     height: 75px;
     width: 80px;
     margin: 3px;
     font-size: 30px;
     font-weight: bold;
     cursor: pointer;
     border-radius: 13px;
}

p{
    color: blue;
    text-decoration: underline;
}


.center{
     /* background-color: red; */
     /* border: 2px solid black ; */
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 10px;
}